# Compiled Executables (Windows & Linux)
*.exe
*.out
*.app


# Object Files and Static Libraries
*.o
*.obj
*.a
*.lib

# Debugging files
*.pdb
*.idb

# IDE Specific (VS Code)
.vscode/
bin/
obj/

# Local system files
.DS_Store
Thumbs.db